*{
    background-color: aquamarine;
    font-family: sans-serif;
    font-size: 12px;
}

#classes{
    font-size: 16px;

}

#grid_wrapper_classes{
    display: grid;
    grid-template-areas: 
    "cl1 cl2 "
    "cl3 cl4"
    
    ;


}



