*{
    background-color: aquamarine;
    font-family: sans-serif;
    font-size: 18px;
}
#main_menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:rgb(228, 202, 164);
}

#log_in_menu_bar{
    background:rgb(228, 202, 164);
}
#my_classes_menu_bar{
    background:rgb(228, 202, 164);
}
#classes{
    font-size: 16px;

}

#grid_wrapper_classes{
    display: grid;
    grid-template-areas: 
    "cl1 cl2 "
    "cl3 cl4"
    
    ;


}

#class1{
    grid-area: cl1;
    width: 100px;
    height: 50px;
    background: blue;
}

#class2{
    grid-area: cl2;
    width: 100px;
    height: 50px;
    background: blue;
}

#class3{
    grid-area: cl3;
    width: 100px;
    height: 50px;
    background: blue;
}

#class4{
    grid-area: cl4;
    width: 100px;
    height: 50px;
    background: blue;
}


#grid_wrapper_start{
    display: grid;
    display: flex;
    justify-content: space-around;
    grid-template-areas: 
    "log account"
    
    ;


}


#log_in_button{
    background: rgb(89, 202, 164);
    grid-area: log;
    display:flex;
    justify-content:center;
    align-items: center;
    width: 150px;
    height:70px;
    text-decoration: none;
    color: black;

}
#account_button{
    background: rgb(89, 202, 164);
    grid-area: account;
    display:flex;
    justify-content:center;
    align-items: center;
    width: 150px;
    height:70px;
    text-decoration: none;
    color: black;

}

#log_in_button:hover{
    background: rgb(80, 170, 140);
}

#account_button:hover{
    background: rgb(80, 170, 140);
}
