form action="/albums/new" method="POST"
    input type="text" name="title" placeholder="titel på album"
    input type="text" name="artist_id" placeholder="id for artist"
    input type="submit" value="Skapa Album"
    